!!! 5
%html
  %head
    %title ChatApp
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{ href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet' }/
    = javascript_include_tag 'application'
    = javascript_include_tag '/assets/javascripts/boot.js'
    = csrf_meta_tags
    %nav.navbar.navbar-default
  .container-fluid
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %header.header
            .header-left
              .header-logo
                .btn
                  %a{:href => "/"} ChatApp
            .header-right
              %ul.nav.nav-tabs
                %li.search-user-btn
                  %a{:href => "/users/search"} ユーザーを探す
                / %li.user-id
                /   %a id :
                /   = current_user.id
                %li.user-page
                  %a{:href => "/users/#{current_user.id}"} マイページ
                %li.user-edit
                  %a{:href => "/users/edit"} 登録情報編集
                %li.logout
                  %a{:href => "/users/sign_out"} ログアウト
        - else 
          %li
            / %a{:href => "/users/sign_in"} ログイン

  %body
    
    = yield